// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//form
@import './partials/form.scss';

//show-appartamento
@import './partials/show.scss';

//headerBackOffice
@import './partials/header.scss';

// Login-form
@import './partials/loginStyle.scss';

// Register-form
@import './partials/registerStyle.scss';

body{
    background-color: $body-bg;
}

 //Form PAGAMENTO
#payment-form {
    border: 1px solid rgba(72, 94, 116, 0.7);
    border-radius: 20px;
}

// CSS BACK OFFICE

.my-text {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration-line: none;
    //-webkit-text-stroke: 1px #eee;
    //color: transparent;
    position: relative;
    color: rgb(0, 238, 255);
}
.my-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(22, 22, 192, 0.555);
    //-webkit-text-stroke: 3px rgb(0, 255, 98);
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    //border-right: 2px solid blue;
    animation: text-fill 3s ease-in-out alternate infinite;
}

@keyframes text-fill {
    100% {
    width: 100%;
    }
}

.my-cont{
    margin-top: 70px;
}

.my-table{
    width: 1327.2px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    a{
        font-size: large;
    }
    thead h4{
        color: #3F5EFB;
    }
}

#icon{
    width: 55px;
    height: 55px;
    position: relative;
    animation: icon-fill 3s ease-in-out alternate infinite;
}

@keyframes icon-fill {
    from{
    left: 3px;
    }

    to{
        left: 30px;
    }
}

.my-card{
    display: none;
    .card-img-top{
        height: 200px;
    }
    a{
        margin: 2%;
    }
}

.my-img{
    width: 200px;
}

.my-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        border-bottom: 3px solid deepskyblue;
    }
}

#mobile-menu {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    display: none;
}

.ms-sponsorizza:hover{
    color: white;
}

@media screen  and(max-width: 1399px) {

    .my-table{
        width: 1140px;
        margin: 0 auto;
    }
}

@media screen  and(max-width: 1199px) {
.my-card {
    display: block;
}

.my-table {
    display: none;
}
}

@media screen  and(max-width: 980px) {
.my-card {
    display: block;
}

.my-table {
    display: none;
}
}


@media screen and(max-width: 778px) {
    .my-card{
        display: block;
    }

    .my-table{
        display: none;
    }
}

@media screen and(max-width: 545px) {
    .my-card{
        display: block;
    }

    .my-table{
        display: none;
    }
}


//button
/* .my-btn:before,
.my-btn::after{
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -10;
}

.my-btn::after{
    background-color: #eee;
}

.my-btn::before{
    background-image: linear-gradient(to bottom right,#aeffb9 0%,#a091ff 100%);
    transition: transform 200ms;
}

.my-btn:hover::before,
.my-btn:hover::before{
    transform: scale(1.1);
}
 */
