.wrapper-intro .title {
  font-size: 3rem;
  font-weight: 700;
}

.wrapper-intro .address {
  font-size: 1.5rem;
  color: rgb(51, 51, 51);
}

.box-messages {
  gap: 1rem;
}

.box-messages .box-message {
  border: 3px solid #003580;
}

.box-messages .box-message .email {
  font-size: 1.2rem;
  font-weight: 700;
}

.box-messages .box-message .name {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.box-messages .box-message .msg-content {
  font-size: 1.5rem;
}

.box-messages .box-msg-date {
  font-size: 1rem;
}

.list-messages .message-item {
  border: 3px solid #003580;
}

.list-messages .message-item p {
  font-size: 1rem;
}

.list-messages .message-item .email-item {
  font-size: 1.2rem;
  font-weight: 700;
}

.list-messages .message-item .created-at-item {
  font-size: 1rem;
}

.empty-message {
  font-size: 2rem;
  font-weight: 700;
}

