.wrapper-intro h4 {
  font-weight: 800;
  font-size: 3rem;
}

.wrapper-intro p {
  font-weight: 700;
  font-size: 1.5rem;
}

#my-table {
  border-radius: 100px !important;
}

#my-table thead {
  background-color: #003580;
  color: white;
}

#my-table .my-table-btn {
  background-color: #003580;
  box-shadow: 0.5rem 0.5rem #febb02;
}

#my-table .my-table-btn a {
  color: white;
}

