#style-register{

    .card{

        box-shadow: -1px 2px 16px 10px rgba(42,42,42,0.35);

        .card-header{
            background-color: deepskyblue;
            color: whitesmoke;
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        .color{
            color: deepskyblue;
            font-size: 1rem;
            font-weight: bold;
        }
    }

}